body {
	background-color:  rgba(119, 136, 153, 0.45);
}

#header-nav {
	border-radius: 0;
	color: #000;
}

#header-nav .navbar-brand, #header-nav .navbar-brand:hover {
	color: #000;
}

.navbar-brand {
	height: 80px;
}

.navbar-brand h1 {
	margin-top: 6px;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #50555a;
	font-size: 1.4em;
}
#nav-list a:hover {
	background-color: silver;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid lightslategray;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -55px;
}

#main-content {
	margin-top: 110px;
}

#main-content .row {
	margin: 0;
}

.menu-title {
	background-color: #f8f8f8;
	border-radius: 5px;
	border: 1px solid lightslategray;
	box-shadow: 0 0 15px -3px rgba(0,0,0,0.69);
	margin: 20px auto 15px;
	padding: 20px;

}

.menu-title .content-header {
	font-size: 1.4em;
	padding-bottom: 10px;
}